body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
.visible {
    display: block;
}

.hidden {
    display: none;
}

.poker-table {
    height: 100vh;
    background-image: url('/assets/images/sfondo_poker.jpg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; 
    font-family: Arial, sans-serif;
    text-shadow: 2px 2px 4px black;
}

#carte_mano{
    padding-bottom: 20px;
}

.carta_visibile{
    width: 80px;
}

.login-container {
    background: linear-gradient(145deg, #0f3d24, #092117); /* Effetto 3D verde */
    border-radius: 10px;
    padding: 20px 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 350px;
}

.login-container h1 {
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #e3b041; /* Oro */
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #0a3b22;
    border-radius: 5px;
    background-color: #032f1c; /* Verde scuro */
    color: white;
    font-size: 16px;
}

.login-container input::placeholder {
    color: #99bfa6; /* Verde chiaro tenue */
}

.login-container input:focus {
    outline: none;
    border-color: #e3b041; /* Oro */
}

.bottoni_principali {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background: #e3b041; /* Oro */
    color: #013220; /* Verde scuro */
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.bottoni_principali:hover {
    background: #ffdd57; /* Oro più chiaro */
}

.card-icon {
    font-size: 50px;
    margin-bottom: 10px;
    color: #e3b041;
}

#login-container .forgot-password {
    font-size: 14px;
    margin-top: 10px;
    color: #99bfa6;
}

#login-container .forgot-password a {
    color: #e3b041;
    text-decoration: none;
}

#login-container .forgot-password a:hover {
    text-decoration: underline;
}

.poker-button {
    display: flex;
    width: 140px;
    margin: 15px;
    align-items: center;
    justify-content: center;
    background: linear-gradient(145deg, #e3b041, #d19c3a); /* Oro sfumato */
    border: 2px solid #0f3d24; /* Bordo verde scuro */
    color: #013220; /* Testo verde scuro */
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px 10px;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    position: relative;
    text-decoration: none;
}

.poker-button:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.7);
}

.poker-button .icon {
    font-size: 28px;
    margin-right: 10px;
    color: #013220; /* Verde scuro */
}

.bottoni_stanze{
    display: flex;
}

.poker-input {
    width: 90%;
    padding: 10px 15px;
    margin: 10px 0;
    background: #032f1c; /* Verde scuro */
    border: 2px solid #0f3d24; /* Bordo verde più scuro */
    border-radius: 30px; /* Arrotondamento per richiamare le fiches */
    color: white; /* Testo chiaro */
    font-size: 16px;
    font-weight: bold;
    transition: all 0.3s ease;
    text-align: center; /* Centra il testo */
}

.poker-input::placeholder {
    color: #99bfa6; /* Verde chiaro tenue */
    font-style: italic;
}

.poker-input:focus {
    outline: none;
    border-color: #e3b041; /* Cambia il bordo in oro */
    box-shadow: 0 0 10px #e3b041; /* Effetto bagliore oro */
}

.players_waiting{
    background-color: whitesmoke;
    width: 400px;
    height: 400px;
    border-radius: 15%;
    opacity: 50%;
    display: flex;
    align-content: center;
    justify-content: center;
}

#table_waiting{
    width: 150px;
    height: fit-content;
}

#table_waiting td,#table_waiting tr{
    height:20px ;
}

#table_waiting tbody{
    height: fit-content;
}

#stanza_attesa{
    text-align: center;
}

#partita{
    height: 100vh;
    padding-top: 20px;
}

#carte_house {
    display: flex;
    justify-content: center;
    margin-left: 80px;
    margin-top: 65px;
    width: 550px;
    background-color: #006400; 
    border-radius: 15px; 
    border: 5px solid #8B4513; 
    padding: 10px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

#vincitore{
    display: flex;
    align-content: center;
    justify-content: center;
}

#carte_mano {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    gap: 10px;
}

#carte_mano img {
    width: 100px;
    transition: transform 0.3s ease-in-out;
}

#carte_house img {
    width: 100px;
}

#carte_mano img:hover {
    transform: scale(1.2); /* Ingrandisce la carta */
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.players{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 60px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

#carte_play {
    display: flex;
    justify-content: center;
    margin-top: 1n0px;
    gap: 10px;
}

#carte_play img {
    width: 60px;
    transition: transform 0.3s ease-in-out;
}


.logo {
    height: 40px;
    padding-right: 90px;
}

.player-name {
    font-size: 18px;
    font-weight: bold;
}

.action-buttons {
    display: flex;
    justify-self: center;
    margin-top: 40px;
}

.action-buttons .btn {
    margin: 5px;
    font-size: 16px;
    padding: 10px 20px;
}

#turni{
    position: absolute;
    left: 10px;
    top: 50px;
    width: 200px;
    height: 300px;
    overflow-y: auto;
    border: 2px solid #333;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}
.turno {
    padding: 8px;
    margin: 5px 0;
    background-color: rgba(128, 128, 128, 0.7); /* Grigio opaco */
    opacity: 50%;
    border-radius: 4px;
    color: white;
}
.puntata{
    width: 20px;
    height: 20px;
    border-radius: 2px;
}

#giocatori_container {
    gap: 10px;
    padding-top: 60px;
}

#giocatori_container .giocatore {
    width: 100px;
    background-color: #222;
    color: white;
    border-radius: 10px;
    padding: 8px;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 0.9rem;
    text-align: center;
}

#giocatori_container .giocatore .nome {
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#giocatori_container .giocatore .puntata {
    margin-top: 5px;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    background-color: gold;
    color: black;
    font-weight: bold;
    padding: 3px 3px;
    border-radius: 8px;
    font-size: 0.8rem;
}

#giocatori_container .giocatore .carte {
    margin-top: 5px;
    display: flex;
}

#giocatori_container .giocatore .carte img {
    width: 32px;
    margin: 0 1px;
    border-radius: 4px;
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.3);
}

.fine-partita {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); /* sfondo scuro trasparente */
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

.contenuto-fine {
  background: linear-gradient(145deg, #0f3d24, #092117); /* sfondo verde scuro */
  padding: 30px 40px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.7);
  max-width: 500px;
  width: 90%;
  color: #e3b041; /* oro */
  font-family: Arial, sans-serif;
}

.titolo-fine {
  font-size: 2rem;
  margin-bottom: 15px;
  color: #e3b041;
  text-shadow: 2px 2px 4px black;
}

.mano-vincente {
  font-size: 1.2rem;
  margin-bottom: 25px;
  color: #fffacd; /* giallo chiaro */
  text-shadow: 1px 1px 2px black;
}

.bottoni-fine {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
